/* Main content */
.main-content {
    position: absolute;
    background-color: var(--beige);
    min-height: 100vh;
    top: 0;
    left: 80px;
    transition: all 0.5s ease;
    width: calc(100% - 80px);
    padding: 1rem;
}

.container {
    display: flex;
    justify-content: space-between;
}


/* Title*/
.s-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--primary-font);
    font-size: 40px;
}

.s-title img {
    margin-right: 40px;
}


/* Contacts */
.cont {
    padding: 0 100px 0 100px;
}

.tarjeta-contacto {
    font-family: var(--primary-font);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    height: 100px;
    border-radius: 25px;
}

.tarjeta-contacto:hover {
    background-color: var(--green);
}

.name {
    font-size: 40px;
}

.phone {
    margin-top: 20px;
    font-size: 20px;
}

.phone-i {
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}


.s-contacts {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    margin: 20px;
}

.icon {
    margin-right: 20px;
}

.item {
    margin: 0 15px 0 35px;
    display: flex;
    align-items: center;
    width: 100%;
}