* {
    margin: 0;
}

body {
    background-color: var(--beige);

}

/* Header */
.m-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-h1 {
    font-family: var(--primary-font);
    font-size: 2.5rem;
    color: var(--blue);
}



/* Header */
/*Welcome section*/
.s-welcome {
    display: flex;
    align-items: center;
    margin: 50px;
}

.welcome-text {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: var(--primary-font);
    font-size: 1.5rem;
    color: var(--blue);
}

.p-welcome {
    margin-top: 30px;
}

.login {
    margin-top: 50px;
    padding: 10px 20px;
    border: 1px solid #d0cbcb;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    background-color: var(--green);
}

.login a {
    font-family: var(--primary-font);
    text-decoration: none;
    color: var(--blue);
}

.login:hover {
    background-color: var(--blue);
    color: var(--beige);
}

.login a:hover {
    color: var(--beige);
}


/*Todo list section*/
.s-todo-list {
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    background-color: var(--blue);
}

.container-todo {
    display: flex;
    align-items: center;
    margin: 50px;
}

.todo-text {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: var(--primary-font);
    font-size: 1.5rem;
    color: var(--beige);
    margin-left: 100px;
}

.p-todo {
    margin-top: 30px;
}

/*Avaible on*/
.s-avaible-on {
    margin: 50px;
}

.avaible-text {
    text-align: center;
    font-family: var(--primary-font);
    font-size: 1.5rem;
    color: var(--blue);
    margin-bottom: 75px;
}

.avaible-img {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logout {
    margin-top: 600px;
}


/* Footer */

.container-footer {
    margin-top: 100px;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--blue);
}

.text-footer {
    font-family: var(--primary-font);
    font-size: 10px;
    color: var(--beige);
    text-align: center;
}


/* Mobile */

@media (max-width: 480px) {

    .m-header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 50px;
    }

    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logo-h1 {
        font-family: var(--primary-font);
        font-size: 2.5rem;
        color: var(--blue);
    }


    /* Header */
    /*Welcome section*/
    .s-welcome {
        display: flex;
        align-items: center;
        margin: 50px;
    }

    .welcome-img {
        display: none;
    }

    .welcome-text {
        display: flex;
        align-items: center;
        flex-direction: column;
        font-family: var(--primary-font);
        font-size: 1.5rem;
        color: var(--blue);
    }

    .p-welcome {
        margin-top: 30px;
    }

    .login {
        margin-top: 50px;
        padding: 10px 20px;
        border: 1px solid #d0cbcb;
        border-radius: 15px;
        text-align: center;
        cursor: pointer;
        transition: 0.3s;
        background-color: var(--green);
    }

    .login a {
        font-family: var(--primary-font);
        text-decoration: none;
        color: var(--blue);
    }

    .login:hover {
        background-color: var(--blue);
        color: var(--beige);
    }

    .login a:hover {
        color: var(--beige);
    }


    /*Todo list section*/
    .s-todo-list {
        width: 100%;
        height: 600px;
        display: flex;
        align-items: center;
        background-color: var(--blue);
    }

    .container-todo {
        display: flex;
        align-items: center;
        margin: 50px;
    }

    .todo-text {
        display: flex;
        align-items: center;
        flex-direction: column;
        font-family: var(--primary-font);
        font-size: 1.5rem;
        color: var(--beige);
        margin-left: 100px;
    }

    .p-todo {
        margin-top: 30px;
    }

    /*Avaible on*/
    .s-avaible-on {
        margin: 50px;
    }

    .avaible-text {
        text-align: center;
        font-family: var(--primary-font);
        font-size: 1.5rem;
        color: var(--blue);
        margin-bottom: 75px;
    }

    .avaible-img {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .logout {
        margin-top: 600px;
    }


    /* Footer */

    .container-footer {
        margin-top: 100px;
        width: 100%;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--blue);
    }

    .text-footer {
        font-family: var(--primary-font);
        font-size: 10px;
        color: var(--beige);
        text-align: center;
    }




}