* {
    margin: 0;
}

body {
    background-color: var(--beige);

}

/* Header */
.m-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-h1 {
    font-family: var(--primary-font);
    font-size: 2.5rem;
    color: var(--blue);
}



/* Header */
/*Welcome section*/
.s-welcome {
    display: flex;
    align-items: center;
    margin: 50px;
}

.welcome-text {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: var(--primary-font);
    font-size: 1.5rem;
    color: var(--blue);
}

.p-welcome {
    margin-top: 30px;
}

/*Todo section*/
.s-todo-list {
    background-color: var(--yellow);
}
