/*Imports*/
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;500;600&family=Prompt:wght@300;500&display=swap');
  /*Variables*/
:root {
    /*Palette color*/
    --sky-blue: #C9D7DD;
    --beige: #FFFBF5;
    --green: #D7E5CA;
    --yellow: #F9F3CC;
    --blue: #27374D;

    /*Fonts*/
    --primary-font: 'Prompt', sans-serif;
    --secondary-font: 'Hind', sans-serif;
    --text-font: 'Hind', sans-serif;
}